/* standard styles */
.left
  float: left

.right
  float: right

.clear
  clear: both

.align-left
  text-align: left

.align-right
  text-align: right

.align-center
  text-align: center

ul
  margin: 1em 0

/* app specific styles */
body
  background: #f1f1f1
  color: #444
  padding: 1em
  font-family: 'Average', serif
  font-size: 81%

#container
  max-width: 800px
  min-width: 220px
  margin: 1em auto
  border: 1px solid #ccc
  background: white

.content
  padding: 0.5em 1.5em 0.5em 1.5em

h1#name
  margin-bottom: 0

ul#experience
  padding: 0
  li.experience-unit
    list-style-type: none
    h4
      margin: 0
    ul.highlights li
      list-style-type: disc

ul.projects
  padding: 0 0 0 1em
  li.project
    list-style-type: none
    .heading
      .title-description-container
        margin-top: 1.25em
    ul.highlights
      max-width: 600px

div.heading
  .left
    width: 70%
  .right
    width: 30%
    text-align: right

ul#languages
  margin: 0
  padding-left: 1em

  li.language
    padding: 1em
    float: left
    display: block
    list-style-type: none

    h4
      text-decoration: underline

    h4, h5
      margin: 0

    h5
      margin-top: 1em

  ul.frameworks
    padding-left: 1em
    li.framework
      list-style: disc inside
      float: none

  ul.libraries
    padding-left: 1em
    width: 23em
    height: 225px
    -webkit-column-count : 2
    -khtml-column-count : 2
    -moz-column-count : 2
    -ms-column-count : 2
    -o-column-count : 2
    column-count : 2

    li.library
      list-style: disc inside
      float: none
