/* standard styles */
.left
  float: left

.right
  float: right

.clear
  clear: both

.align-left
  text-align: left

.align-right
  text-align: right

.align-center
  text-align: center

/* app specific styles */
body
  background: #f1f1f1
  color: #444
  position: fixed
  left: 1em
  right: 1em
  top: 1em
  bottom: 1em

#container
  max-width: 800px
  min-width: 220px
  margin: auto
  border: 1px solid #ccc

.content
  padding: 0.5em 1.5em 0.5em 1.5em
