/* fonts */
@font-face
  font-family: "Average"
  font-style: normal
  font-weight: 400
  src: url('../fonts/Average-Regular.ttf') format('truetype')
  //src: local('Average'), local('Average-Regular'), url(http://themes.googleusercontent.com/static/fonts/average/v1/PT2T4EDE8LdI8iV2yQCkMA.woff) format('woff')

/* standard styles */
.left
  float: left

.right
  float: right

.clear
  clear: both

.align-left
  text-align: left

.align-right
  text-align: right

.align-center
  text-align: center

ul
  margin: 1em 0

a
  text-decoration: none
  color: slategrey
a:hover
  text-decoration: underline

/* links */

/* app specific styles */
body
  background: #f1f1f1
  color: #444
  padding: 1em
  font-family: 'Average', serif

#container
  max-width: 900px
  min-width: 220px
  margin: 1em auto
  border: 1px solid #ccc
  background: white
  position: relative

  #links
    position: absolute
    top: 0
    right: 0
    margin-right: 1em
    ul
      list-style-type: none
      text-align: right

.content
  padding: 0.5em 1.5em 0.5em 1.5em

h1#name
  margin-bottom: 0

ul.education
  padding-left: 0
  li
    list-style-type: none

ul#experience
  padding: 0
  li.experience-unit
    .heading
      .employer
        float: left
      .employment
        float: right
      background-color: #F9F9F9
      padding: 4px 8px 4px 8px
    list-style-type: none
    h4
      margin: 0
    ul.highlights
      li
        list-style-type: disc

ul.projects
  padding: 0
  li.project
    .heading
      background-color: #FBFBFB
      padding: 4px 8px 4px 8px
      .title
        margin-right: 0.5em
    list-style-type: none
    .heading
      .project-heading
      .assignment-details
    ul.highlights

div.heading
  .left
  .right
    text-align: right

ul#languages
  margin: 0
  padding-left: 1em

  li.language
    padding: 1em
    float: left
    list-style-type: none

    h4
      text-decoration: underline

    h4, h5
      margin: 0

    h5
      margin-top: 1em

  ul.frameworks
    padding-left: 1em
    li.framework
      list-style: disc inside
      float: none

  ul.libraries
    padding-left: 1em
    width: 23em
    -webkit-column-count : 2
    -khtml-column-count : 2
    -moz-column-count : 2
    -ms-column-count : 2
    -o-column-count : 2
    column-count : 2

    li.library
      list-style: disc inside
      float: none
