{{#education}}
  {{#education}}
    <li>
      <h3>{{title}}</h3>
      <p>
        {{degree}}, {{major}}, {{graduation_month}} {{graduation_year}}
        <br />
        {{college}}, {{college_city}}, {{college_state}}
      </p>
    </li>
  {{/education}}
{{/education}}
