{{#experience}}
  {{#experience_unit}}
  <li class="experience-unit">
    <div class="heading">
      <div class="left">
        <div class="employer">{{employer}}</div>
        <div class="division">{{division}}</div>
        <div class="location">{{location}}</div>
      </div>

      <div class="right">
        <div class="title">{{title}}</div>
        <span class="start-month">{{start_month}}</span>
        -
        <span class="end-month">{{end_month}}</span>
      </div>

      <div class="clear"></div>
    </div>

    <br />

    <h4>Projects</h4>
    <ul class="projects">
      {{#projects}}
        {{#project}}
          <li class="project">
            <div class="heading">
              <div class="title-description-container left">
                <strong class="title">{{title}}</strong>
                -
                <span class="description">{{{description}}}</span>
              </div>
              <div class="right">
                <span class="role">{{role}}</span>
                <br />
                <span class="start-month">{{start_month}}</span>
                -
                <span class="end-month">{{end_month}}</span>
              </div>
              <div class="clear"></div>
            </div>
            <ul class="highlights">
              {{#highlights}}
                <li class="highlight">{{.}}</li>
              {{/highlights}}
            </ul>
          </li>
        {{/project}}
      {{/projects}}
    </ul>
  </li>
  {{/experience_unit}}
{{/experience}}
