{{#languages}}
  <li class="language">
    {{#language}}
      <h4>{{name}}</h4>
      {{#hasFrameworks}}
        <h5>Frameworks</h5>
        <ul class="frameworks">
          {{#frameworks}}
            <li class="framework">
              {{#framework}}
                {{name}}
              {{/framework}}
            </li>
          {{/frameworks}}
        </ul>
      {{/hasFrameworks}}
      {{#hasLibraries}}
      <h5>Libraries</h5>
      <ul class="libraries">
        {{#libraries}}
          <li class="library">
            {{#library}}
              {{name}}
            {{/library}}
          </li>
        {{/libraries}}
      </ul>
      {{/hasLibraries}}
    {{/language}}
  </li>
{{/languages}}
<div class="clear"></div>
