<header>
  <h1 id="name" class="align-center">Patrick G. Klingemann</h1>
  <div class="align-center">
    <address id="home_address">
      527 Castle Hall Rd.
      <br />
      Mount Pleasant, SC 29464
    </address>
    Mobile: (843) 606-0808
    <br />
    <a href="mailto:patrick.klingemann@gmail.com">patrick.klingemann@gmail.com</a>
  </div>
</header>

<div id="education">
  <h3>Formal education</h3>
  <p> 
    B.S., Computer Engineering, May 2004
    <br />
    Virginia Tech, Blacksburg, Virginia
  </p>
</div>

<h3>Software Development Experience</h3>

<ul id="experience">
</ul>

<h3>Programming Languages</h3>

<ul id="languages">
</ul>

<footer>

</footer>
