<ul id="highlights">
  <li>
    <h2>Objective</h2>
    <p> To obtain a permanent position in the field of web development, specifically using the Ruby on Rails web framework and to continue the development of  my software engineering and web technology skills. </p>
  </li>
  <li>
    <h2>Education</h2>
    <p> 
      Virginia Polytechnic Institute & State University, Blacksburg, Virginia
      <br />
      B.S., Computer Engineering, May 2004
    </p>
  </li>
  <li>
    <h2>Clearance</h2>
    <p> 
      U.S. Department of Defense Interim Secret Clearance (2005)
    </p>
  </li>
</ul>

<h2>Software Development Experience</h2>

<ul id="experience">
  <li class="experience-unit">
    <h3>Senior Systems Analyst, Office of Biomedical Informatics Services,</h3>
    <h3>Medical University of South Carolina, Charleston, SC, February 2009 - Present</h3>
    <h4>SPARK - Clinical and Translational Research Service Management Application (and various other applications), Lead Developer</h4>
    <ul>
      <li>Design, develop, test and maintain Ruby on Rails applications with complex business logic in an Agile software environment</li>
      <li>Design development team infrastructure, including source control (Git), release management and deployment (Capistrano), bug tracking (Redmine) and Agile Project Management (Pivotal Tracker)</li>
      <li>Mentor junior developers, develop relationships with clients and collaborate with other institutions</li>
    </ul>
  </li>
</ul>
