<header>
  <h1 class="align-center">Patrick G. Klingemann</h1>
  <div class="align-center">
    <p>
      <address id="home_address">
        527 Castle Hall Rd.
        <br />
        Mount Pleasant, SC 29464
      </address>
      Mobile: (843) 606-0808
      <br />
      <a href="mailto:patrick.klingemann@gmail.com">patrick.klingemann@gmail.com</a>
    </p>
  </div>
</header>

<div id="education">
  <h3>Formal education</h3>
  <p> 
    B.S., Computer Engineering, May 2004
    <br />
    Virginia Tech, Blacksburg, Virginia
  </p>
</div>

<h3>Software Development Experience</h3>

<ul id="experience">
  <%= partial 'experience_unit', :locals => {
      :employer => 'Medical University of South Carolina (MUSC)',
      :division => 'Office of Biomedical Informatics Services',
      :location => 'Charleston, SC',
      :title    => 'Senior Systems Analyst',
      :period   => 'February 2009 - January 2012',
      :projects => [
        { :title => 'SPARK', :description => 'Research Services Management Application, <em>Lead Developer</em>' },
        { :title => 'SCResearch.org', :description => 'South Carolina Research Studies Directory, <em>Lead Developer</em>' }
      ],
      :highlights => [
        'Design, develop, test and maintain Ruby on Rails applications with complex business logic in an Agile software environment',
        'Design development team infrastructure, including source control (Git), release management and deployment (Capistrano), bug tracking (Redmine) and Agile Project Management (Pivotal Tracker)',
        'Mentor junior developers, develop relationships with clients and collaborate with other institutions'
      ]
    } %>

  <%= partial 'experience_unit', :locals => {
      :employer => 'SPAWAR Systems Center Charleston',
      :division => '',
      :location => 'Charleston, SC',
      :title    => 'Computer Engineer',
      :period   => 'June 2005 - February 2009',
      :projects => [
        { :title => 'DVDT', :description => 'Modeling and Simulation Documentation Web Tool, August 2006 - February 2009, <em>Lead Developer</em>' },
      ],
      :highlights => [
        'Generate use cases, choose architecture, and design application based on client requirements',
        'Design and develop database (MySQL), user interface (HTML, CSS, AJAX), and back-end (Rails)',
        'Deploy and maintain source control server (Subversion & Trac), development and test environments (databases, web servers, Ruby on Rails environments)'
      ]
    } %>

  <li class="experience-unit">
    <h4>SPAWAR Systems Center Charleston, June 2005 – September 2006</h4>
    <h4>Employee Appraisal/Development Web Application, Workforce Solutions, Feb 2006 – Present</h4>
    <ul class="highlights">
      <li>Design, develop, test and deploy upgrades including front-end and database updates (JSP, Struts, MySQL)</li>
      <li>Maintain entire application including web servers (Apache, Tomcat), database, source code (SVN) and customer support</li>
    </ul>
  </li>

  <li class="experience-unit">
    <h4>Application Developer, IBM, Business Consulting Services, Fairfax, VA, June 2004 – June 2005</h4>
    <h4>FEMA – Multi-Hazard Flood Map Modernization, October 2004 – June 2005</h4>
    <ul class="highlights">
      <li>Designed and implemented a Portlet (Struts, Hibernate) to allow FEMA users to organize flood map project funding throughout the country for the third release</li>
      <li>Implemented Struts screens for various components including flood map project creation, management and contracting</li>
    </ul>
  </li>

  <li class="experience-unit">
    <h4>IBM, Business Consulting Services</h4>
    <h4>Military Sealift Command, Budget Preparation System, June 2004 – October 2004</h4>
    <ul class="highlights">
      <li>Redesigned ship maintenance module with PL/SQL stored procedures to improve performance</li>
      <li>Supported all phases of the development cycle including requirements gathering, design, development, testing and defect resolution</li>
      <li>Authored various client deliverables including release specifications and transition documents</li>
    </ul>
  </li>

  <li class="experience-unit">
    <h4>Image Analysis Undergraduate Research, January 2004 – May 2004</h4>
    <h4>Department of Electrical and Computer Engineering, Virginia Tech</h4>
    <ul class="highlights">
      <li>Implemented distance transform, medial axis transform algorithms in C++ for 3D shapes</li>
      <li>Applied algorithms to brain tumor modeling for the gamma knife cancer treatment procedure</li>
    </ul>
  </li>
</ul>

<footer>

</footer>
