<html>
  <head>
    <meta charset="utf-8">

    <title>Patrick G. Klingemann - Resume</title>
    <meta name="description" content="Resume">
    <meta name="author" content="Patrick Klingemann">

    <link rel="stylesheet" href="css/resume.css">
    <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

    <script src="js/libs/jquery-1.6.2.min.js"></script>
    <script src="js/libs/mustache.min.js"></script>
    <script id="experience_unit_template" type="text/html">
      <%= partial 'experience_unit' %>
    </script>
    <script src="js/resume.js"></script>
  </head>
  <body>

    <div id="container">
      <div id="resume" class="content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
