{{#head}}
  {{#meta_tags}}
    {{#meta}}
      <meta {{#attributes}}
              {{#attribute}}
                {{name}}="{{value}}"
              {{/attribute}}
            {{/attributes}}>
    {{/meta}}
  {{/meta_tags}}

  <title>{{title}}</title>
{{/head}}
