<header>
</header>

<section id="links">
  <ul class="links">
  </ul>
</section>

<section id="education">
  <ul class="education">
  </ul>
</section>

<section>
  <h3>Software Development Experience</h3>

  <ul id="experience">
  </ul>
</section>

<section>
  <h3>Programming Languages</h3>

  <ul id="languages">
  </ul>
</section>

<div class="clear"></div>

<footer>

</footer>
